body{
    background-image: url("pictures/background_image.jpg");
    width: cover;
    color: white;
    padding: 0 20px;
}
main{
    background-color: rgb(0, 0, 0, 0.4) ;
}
form{
    background-color: black;
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    font-family:sans-serif ;
}
header{
    text-align: center;
    font-family: "Alfa Slab One";
}
h1{
    font-size: 45px;
    padding-top: 15px;
}
h2{
    font-size: medium;
    font-family: serif;
}
.inputs{
    padding: 7px;
    width: 90%;
}
button{
    background-color: red;
    text-align: center;
    width: 100px;
    color: white;
    padding: 10px ;
    font-size: 14px;
    border-radius: 28px;
    margin: 1% auto;
    text-align: center;
    margin-left: 90px;
}
span{
    color: red;
}
::placeholder{
    padding: 5px;
}